<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
        <title>To Do List</title>
    </head>
    <body>
        
        <div id="app">
            
            <header>
                <div id="header-logo">
                    <img id="logo" src="img/Logo.png" alt="Logo Boolean">
                    <span id="logo-text">Toboolist</span>
                </div>
            </header>

            <main>
                <div id="todo" class="container">
                    <div class="todo-head">
                        <label v-bind:class="warningClass" for="newTask">{{userMessage}}</label>
                        <input @keydown="resetWarning" id="newTask" type="text" placeholder="Nuovo impegno..." v-model="inputText">
                        <button @click="addTask" id="addButton">Aggiungi</button>
                    </div>
                    <div class="todo-body">
                        <ul>
                            <li v-for="(task, i) in toDoList">
                                <h3 v-bind:class="taskDone(i)">{{toDoList[i].text}}</h3>
                                <i @click="deleteTask(i)" class="deleteButton fa-solid fa-trash"></i>
                            </li>
                        </ul>
                        
                    </div>
                </div>

            </main>

        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>